<div class="featured">
  <img src="http://localhost/wordpress/wp-content/themes/kitchencloud/assets/img/featured-image.png" border="0" />

  <div class="prop-value">
    <h1>It has never been easier to manage what you eat.</h1>
    <p>Do you closely watch what you put into your body? Then you are part of a growing amount of people that are changing the way they think about their food.</p>
    <p>You now have all of the power to manage and monitor food items you purchase at your favorite grocer, all while having readily accessible data in the palm of your hands.</p>
    <h4>With KitchenCloud, it’s your food. Your way.</h4>
    <div style="margin: 40px auto 0 auto; width: 280px; text-align: center;">
      <small style="margin-bottom: 0;">Give us the clap</small>
      <a href="http://thunderclap.it"><br/>
        <%= image_tag 'thunderclap.png', width: '280', height: '82', border: '0' %><br/>
      </a>
  </div>
</div>

<div style="clear: both; height: 25px;"></div>

<div class="page-content" style="height: 500px;">
  <div class="commercial">
    <video width="100%" height="330" controls poster="assets/poster.png">
      <source src="assets/Analytics_1.mp4" type="video/mp4"> 
      <p style="color: #FFF;">We're Sorry. There seems to be technical issues.</p> 
    </video>
  </div>

  <div class="video-desc">
    <h4>Heading 4</h4>
    <p>Highschool has some serious things going on... These problems matter.</p>
  </div>

  <div class="hrule" style="margin: 355px 0 10px 0;"></div>
  <div style="float: left; width: 500px;"></div>
    <h4>Sign-up for the KitchenCloud monthly newsletter</h4>
    <p>Receive community news, application updates recipes all in your inbox, plus Josh might hurt himself learning how to make one of our community created recipes. Who'd want to miss that? I wouldn't.</p>
    <form class="email-signup" method="PUT" action="">
      <input type="email" size="30" style="float: left;margin-right: 5px;" placeholder="Email Address" />
      <input type="submit" value="I Love News" style="float: left;" />
        
      <p>The few. The proud. join the KitchenCloud</p>
  </form>
</div>
