<div class="featured">
  <img src="http://localhost/wordpress/wp-content/themes/kitchencloud/assets/img/featured-image.png" border="0" />

  <div class="prop-value">
    <h1>It has never been easier to manage what you eat.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat, orci ac laoreet cursus, dolor sem luctus lorem, eget consequat magna felis a magna. Aliquam scelerisque condimentum ante, eget facilisis tortor lobortis in. In interdum venenatis justo eget consequat. Morbi commodo rhoncus mi nec pharetra. Aliquam erat volutpat. Mauris non lorem eu dolor hendrerit dapibus. Mauris mollis nisl quis sapien posuere consectetur. Nullam in sapien at nisi ornare bibendum at ut lectus. Pellentesque ut magna mauris. Nam viverra suscipit ligula, sed accumsan enim placerat nec. Cras vitae metus vel dolor ultrices sagittis. Duis venenatis augue sed risus laoreet congue ac ac leo. Donec fermentum accumsan libero sit amet iaculis. Duis tristique dictum enim, ac fringilla risus bibendum in. Nunc ornare, quam sit amet ultricies gravida, tortor mi malesuada urna, quis commodo dui nibh in lacus. Nunc vel tortor mi. Pellentesque vel urna a arcu adipiscing imperdiet vitae sit amet neque. Integer eu lectus et nunc dictum sagittis. Curabitur commodo vulputate fringilla. Sed eleifend, arcu convallis adipiscing congue, dui turpis commodo magna, et vehicula sapien turpis sit amet nisi.</p>
    </p>
  </div>
</div>

<div style="clear: both; height: 25px;"></div>

<div class="page-content" style="height: 500px;">
  <div class="hrule" style="margin: 355px 0 10px 0;"></div>
  <div style="float: left; width: 500px;"></div>
    <form class="email-signup" method="PUT" action="">
      <input type="email" size="30" style="float: left;margin-right: 5px;" placeholder="Email Address" />
      <input type="submit" value="I Love News" style="float: left;" />
        
      <p>The few. The proud. join the KitchenCloud</p>
  </form>
</div>
