<style type="text/css">
  @import url(../css/global.css);
  
  .email-signup {
    background-color: #725e4f;
    color: #fff;
    padding: 10px;
    width: 262px;
  }
  .email-signup h5 {
    margin-bottom: 5px;
  }
  .email-signup h5 span {
    margin-top: 5px;
    opacity: 0.5;
  }
</style>

<form class="email-signup" method="post">
  <h5>Get awesome in your inbox <span><img src="../images/email-icon.png" width="24" height="16" border="0" /></span></h5>
  <table cellpadding="0" cellspacing="0" border="0">
      <tr>
      <td><input type="email" size="28" placeholder="Enter your email address"></td>
            <td><input type="submit" value="Subscribe" class="email-submit"></td>
        </tr>
    </table>
</form>
