<div class="account-image">
  <%= image_tag 'user_pic.jpg', width: "200", height: "200", border: "0" %>
</div>
  
<ul class="options">
  <li><a href="">My Account</a></li>
  <li><a href="">Food Metrics</a></li>
  <li><a href="">Food Porn</a></li>
</ul>
  
<h4 style="margin-top: 30px;">Social Networks</h4>
<form class="account-social">
  <div class="facebook-connect">
    <span></span>
    <p>Facebook</p>
    <input type="button" value="Connect" />
  </div>
  
  <div class="twitter-connect">
    <span></span>
    <p>Twitter</p>
    <input type="button" value="Connect" />
  </div>
  
  <div class="pinterest-connect">
    <span></span>
    <p>Pinterest</p>
    <input type="button" value="Connect" />
  </div>
</form>
