<footer class="content-info container" role="contentinfo">
  <div class="row">
    <div class="col-lg-12">
      <nav class="footer-nav">
        <div class="menu">
          <ul>
            <li class="menu-">
              <a></a>
            </li>
          </ul>
      </nav>
      <p style="float:left;">&copy; 2013 kitchencloud | All Rights Reserved</p>
    </div>
  </div>
</footer>
