<form role="search" method="get" class="search-form form-inline" action="http://localhost/wordpress/">
  <div class="input-group">
    <input type="search" value="" name="s" class="search-field form-control" placeholder="Search Support">
    <label class="hide">Search for:</label>
    <span class="input-group-btn">
      <button type="submit" class="search-submit btn btn-default">Search</button>
    </span>
  </div>
</form>

