<section class="widget search-2 widget_search">
  <div class="widget-inner">
    <%= render 'layouts/search_form' %>
  </div>
</section>
<section class="widget recent-posts-2 widget_recent_entries">
  <div class="widget-inner">
    <h3>Recent Posts</h3>
    <ul>
      <li>
        <a href="/wordpress/?p=1" title="Hello world!">Hello world!</a>
      </li>
      <li>
        <a href="/wordpress/?p=36" title="Kitchencloud is Alive">Kitchencloud is Alive</a>
      </li>
    </ul>
  </div>
</section>
<section class="widget recent-comments-2 widget_recent_comments">
  <div class="widget-inner">
    <h3>Recent Comments</h3>
    <ul id="recentcomments">
      <li class="recentcomments">
        <a href='http://wordpress.org/' rel='external nofollow' class='url'>Mr WordPress</a>
        on
        <a href="/wordpress/?p=1#comment-1">Hello world!</a>
      </li>
      <li class="recentcomments">
        <a href='http://wordpress.org/' rel='external nofollow' class='url'>Mr WordPress</a>
        on
        <a href="/wordpress/?p=36#comment-2">Kitchencloud is Alive</a>
      </li>
    </ul>
  </div>
</section>
<section class="widget archives-2 widget_archive">
  <div class="widget-inner">
    <h3>Archives</h3>
    <ul>
      <li><a href='/wordpress/?m=201310' title='October 2013'>October 2013</a></li>
      <li><a href='/wordpress/?m=201309' title='September 2013'>September 2013</a></li>
    </ul>
  </div>
</section>
<section class="widget categories-2 widget_categories">
  <div class="widget-inner">
    <h3>Categories</h3>
    <ul>
      <li class="cat-item cat-item-3">
        <a href="/wordpress/?cat=3" title="View all posts filed under Announcements">Announcements</a>
      </li>
      <li class="cat-item cat-item-1">
        <a href="/wordpress/?cat=1" title="View all posts filed under Uncategorized">Uncategorized</a>
      </li>
    </ul>
  </div>
</section>
<section class="widget meta-2 widget_meta">
  <div class="widget-inner">
    <h3>Meta</h3>
    <ul>
      <li>
        <a href="http://localhost/wordpress/wp-admin/">Site Admin</a>
      </li>
      <li>
        <a href="http://localhost/wordpress/wp-login.php?action=logout&#038;_wpnonce=84ce401530">Log out</a>
      </li>
      <li>
        <a href="/wordpress/?feed=rss2" title="Syndicate this site using RSS 2.0">
          Entries
          <abbr title="Really Simple Syndication">RSS</abbr>
        </a>
      </li>
      <li>
        <a href="/wordpress/?feed=comments-rss2" title="The latest comments to all posts in RSS">
          Comments
          <abbr title="Really Simple Syndication">RSS</abbr>
        </a>
      </li>
      <li>
        <a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
      </li>
    </ul>
  </div>
</section>

